apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: hpa
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0   # gwarancja braku downtime
      maxSurge: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: nginx:1.25.0
        # command: 
        # - /bin/sh
        # - -c
        # - |
        #   apt update &&
        #   apt install -y stress-ng &&
        #   nginx -g 'daemon off;'  
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "150Mi"   # baza do HPA
            cpu: "50m"
          limits:
            memory: "150Mi"
            cpu: "50m"
        readinessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5