
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: n8n
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://community-charts.github.io/helm-charts
    chart: n8n
    targetRevision: latest
    helm:
      valuesObject:
        persistence:
          enabled: true
          size: 2Gi
        service:
          enabled: true
          type: LoadBalancer
          port: 5678
        postgresql:
          enabled: true
          auth:
            database: n8n
            username: n8n
            password: "kaLIst01!"
          primary:
            persistence:
              size: 3Gi
  destination:
    server: https://kubernetes.default.svc
    namespace: n8n
  syncPolicy:
    automated:
      prune: true
