apiVersion: v1
kind: Service
metadata:
  name: n8n-service
  namespace: n8n
spec:
  selector:
    app: n8n
  ports:
  - name: http
    port: 80
    targetPort: 5678
  type: LoadBalancer
  loadBalancerIP: "10.0.0.85"