
artifactory:
  adminPassword: "kaLIst01!"
  installer:
    installerInfo: ""
  artifactory:
    persistence:
      enabled: true
      existingClaim: my-artifactory-pvc
    resources:
      requests:
        memory: 1Gi
        cpu: 500m
      limits:
        memory: 2Gi
        cpu: "1"
    javaOpts:
      xms: "1g"
      xmx: "1g"
  probes:
    liveness:
      enabled: true
      initialDelaySeconds: 300
    readiness:
      enabled: true
      initialDelaySeconds: 300


postgresql:
  enabled: true
  auth:
    postgresPassword: "PostgresP@ss123"

  # STARY styl (część wersji Bitnami wciąż tego używa)
  persistence:
    enabled: true
    size: 1Gi
    # storageClass: longhorn

  # NOWY styl (nowsze Bitnami używają `primary.persistence`)
  primary:
    persistence:
      enabled: true
      size: 1Gi
      # storageClass: longhorn


nginx:
  enabled: true
  service:
    type: LoadBalancer
    loadBalancerIP: "10.0.0.80"

ingress:
  enabled: false
