
artifactory:
  adminPassword: "kaLIst01!"
  persistence:
    enabled: true
    size: 5Gi
  probes:
    liveness:
      enabled: true
      initialDelaySeconds: 300
    readiness:
      enabled: true
      initialDelaySeconds: 300
  installer:
    installerInfo: ""   # wyłączamy problematyczne adnotacje

postgresql:
  enabled: true
  auth:
    postgresPassword: "PostgresP@ss123"
  persistence:
    enabled: true
    size: 3Gi

nginx:
  enabled: true
  service:
    type: LoadBalancer
    loadBalancerIP: "10.0.0.80"

ingress:
  enabled: false
