apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: v-it-apps
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: https://github.com/ja31582/k8s_cluster.git
        revision: main
        directories:
          - path: apps/*
  template:
    metadata:
      name: '{{path.basename}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/ja31582/k8s_cluster.git
        targetRevision: main
        path: '{{path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.basename}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
